{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Chart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .card {
      margin-top: 50px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>
  <body>
    {% include 'navbar.html' %}

    <div class="container">
      <h1 class="text-center mt-5 mb-4">Detail Chart</h1>
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h5 class="card-title text-center">{{ tipe }}</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Judul Lagu</th>
                  <th>Nama Artist</th>
                  <th>Tanggal Rilis</th>
                  <th>Total Plays</th>
                </tr>
              </thead>
              <tbody>
                {% for song in data_table %}
                <tr>
                  <td><a href="/main/songdetail/view/{{ song.id }}">{{ song.judul }}</a></td>
                  <td>{{ song.nama }}</td>
                  <td>{{ song.tanggal_rilis }}</td>
                  <td>{{ song.total_play }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <a href="javascript:history.back()" class="btn btn-secondary btn-block">Kembali</a>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}