<!DOCTYPE html>
<html lang="en">
<body>
    <center><h2>CREATE ALBUM</h2></center>
    <form action="#" method="post">
        <label for="judul">Judul :</label><br>
        <input type="text" id="judul" name="judul"><br><br>

        <label for="label">Label :</label><br>
        <select id="label" name="label">
            <option value="Moore, Stone and Hill">Moore, Stone and Hill</option>
            <option value="Gray, Johnson and Nichols">Gray, Johnson and Nichols</option>
        </select><br><br>

        <input type="submit" value="Submit">
    </form>