<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAFTAR LAGU PADA ALBUM</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<table>
    <tr>
        <th colspan="5">DAFTAR LAGU PADA ALBUM1</th>
    </tr>
    <tr>
        <th>Judul</th>
        <th>Durasi</th>
        <th>Total Play</th>
        <th>Total Download</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>Lagu 1</td>
        <td>2 menit</td>
        <td>3</td>
        <td>0</td>
        <td>
            <button>Lihat Detail</button>
            <button>Hapus</button>
        </td>
    </tr>
    <tr>
        <td>Lagu 2</td>
        <td>3 menit</td>
        <td>2</td>
        <td>2</td>
        <td>
            <button>Lihat Detail</button>
            <button>Hapus</button>
        </td>
    </tr>
</table>
</body>
</html>