<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
      /* Custom CSS */
      .profile-info {
          margin-bottom: 20px;
      }

      .profile-info label {
          font-weight: bold;
      }

      .playlist-item {
          cursor: pointer;
      }

      .playlist-item:hover {
          text-decoration: underline;
      }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">marmut-b11</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 mx-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Chart</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Kelola Playlist</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Langganan Paket</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
    <title>Song Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        .controls {
            text-align: center;
            margin-top: 20px;
        }
        .controls button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 0 5px;
        }
        .progress-control {
            margin-top: 20px;
            text-align: center;
        }
        .bold {
            font-weight: bold;
        }
    </style>
    <h1 style="margin-top: 15px;">Song Detail</h1>
    <div class="song-detail">
    <div style="margin-left:30px">
        <p><b>Judul:</b> <span>{{ judul_lagu }}</span></p>
        <p><b>Genre(s):</b></p>
        <ul>
            {% for genre in genres %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>
        <p><b>Artist:</b> {{ artist }}</p>
        <p><b>Songwriter(s):</b></p>
        <ul>
            {% for songwriter in songwriters %}
                <li>{{ songwriter }}</li>
            {% endfor %}
        </ul>
        <p><b>Durasi:</b> {{ durasi }}</p>
        <p><b>Tanggal Rilis:</b> {{ tanggal_rilis }}</p>
        <p><b>Tahun:</b> {{ tahun }}</p>
        <p><b>Total Play:</b> {{ total_play }}</p>
        <p><b>Total Downloads:</b> {{ total_download }}</p>
        <p><b>Album:</b> {{ album }}</p>
    </div>

    <div class="progress-control">
        <input type="range" id="progress-slider" min="0" max="100" value="0" step="1">
        <span id="progress-value">0</span>%
    </div>

    <div class="controls">
        <button style="margin-bottom: 5px;" id="playsong">Play</button><br>
        <div id="playlistForm" style="display: none;">
            <br>
            <br>
                <h4>ADD SONG TO USER PLAYLIST</h4>
                <p>Judul: <span class="bold">{{ judul_lagu }}</span></p>
                <p>Artist: <span class="bold">{{ artist }}</span></p>
                <div>
                    <label for="judul_playlist">Playlist:</label>
                    <select id="judul_playlist" name="judul_playlist" required>
                        {% for playlist in daftar_playlist %}
                            <option value="{{ playlist.id_playlist }}">{{ playlist.judul }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="addsong" type="submit">Tambah</button>
            <br>
            <br>
        </div>
        <button style="margin-bottom: 5px;" id="showFormButton">Add to Playlist</button><br>

        {% if is_premium %}
            <button id="download" style="margin-bottom: 5px;">Download</button><br>
        {% endif %}

        <a href="/main/kelolaplaylist/"><button>Kembali</button></a>

    </div>
    
    <script>
        const progressSlider = document.getElementById('progress-slider');
        const progressValue = document.getElementById('progress-value');

        progressSlider.addEventListener('input', updateProgressValue);

        function updateProgressValue() {
            progressValue.textContent = progressSlider.value;
        }

        document.getElementById('playsong').addEventListener('click', function() {
            var sliderValue = document.getElementById('progress-slider').value;

            var song_id = '{{ song_id }}';
            var email_pembuat = '{{ email_pembuat }}';

            fetch('/main/songdetail/play/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    email_pembuat: email_pembuat,
                    progress: sliderValue,
                    song_id: song_id,
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                alert('Berhasil memutar lagu {{ judul_lagu }}');
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });

        });

        document.getElementById('addsong').addEventListener('click', function() {
            var playlist = document.getElementById('judul_playlist').value;
            var song_id = '{{ song_id }}';
            var nama_playlist = document.getElementById('judul_playlist').options[document.getElementById('judul_playlist').selectedIndex].text;

            var api_target = '/main/playlist/tambahlagu/' + playlist + '/';

            fetch(api_target, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ song_id: song_id, playlist: playlist, is_api: true })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            var url = '/main/songdetail/redirect-choice/?song_id=' + song_id + '&playlist=' + playlist;
            
            location.assign(url)
            alert('Berhasil menambahkan Lagu dengan judul {{ judul_lagu }} ke dalam Playlist ' + nama_playlist);
        });

        document.getElementById('download').addEventListener('click', function() {
            var song_id = '{{ song_id }}';

            fetch('/main/songdetail/download/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    song_id: song_id,
                    judul_lagu: '{{ judul_lagu }}',
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                alert('Berhasil download lagu {{ judul_lagu }}');
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            var url = '/main/songdetail/redirect-download/?song_id=' + song_id + '&judul_lagu={{ judul_lagu }}';
            
            location.assign(url)
        });

        document.getElementById('showFormButton').addEventListener('click', function() {
            var playlistForm = document.getElementById('playlistForm');
            var button = document.getElementById('showFormButton');
            if (playlistForm.style.display === 'none') {
                playlistForm.style.display = 'block';
                button.textContent = 'Cancel';  // Change the button text to 'Cancel'
                document.getElementById('judul_playlist').value = '';  // Clear the value of the 'judul_playlist' input field
                document.getElementById('deskripsi_playlist').value = '';  // Clear the value of the 'deskripsi_playlist' input field
            } else {
                playlistForm.style.display = 'none';
                button.textContent = 'Tambah Playlist';  // Change the button text back to 'Tambah Playlist'
            }
        });
    </script>
</body>
</html>